<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379687735081-qp6ibo4ehvs6500uu6iu5ud5rdi8121g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379687735081-qp6ibo4ehvs6500uu6iu5ud5rdi8121g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-p22Oxs8A-4Qjn6ViazlGlvJZELKYMNY</string>
	<key>GCM_SENDER_ID</key>
	<string>379687735081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.universeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>universe-app-4ac0a</string>
	<key>STORAGE_BUCKET</key>
	<string>universe-app-4ac0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379687735081:ios:c281a5ce526822d461b138</string>
</dict>
</plist>